# ===== App =====
NODE_ENV=production
API_PORT=4000
WEB_PORT=3000
UPLOAD_DIR=/app/uploads

# 前端访问后端地址（建议使用同域 /api）
NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_API_BASE_URL=/api

# ===== Tencent Cloud VOD =====
TENCENT_VOD_APP_ID=
TENCENT_VOD_PLAYER_SIGN_KEY=
TENCENT_VOD_PLAYER_SIGN_EXPIRES_SECONDS=7200
TENCENT_VOD_URL_EXPIRES_SECONDS=7200
TENCENT_VOD_URL_RLIMIT=3
TENCENT_VOD_TRIAL_SECONDS=0
TENCENT_VOD_PLAY_DOMAIN=
TENCENT_VOD_PLAY_SCHEME=https
TENCENT_VOD_TRACE_UV=
TENCENT_VOD_PLAYER_AUDIO_VIDEO_TYPE=Original
TENCENT_VOD_RAW_ADAPTIVE_DEFINITION=0
TENCENT_VOD_TRANSCODE_DEFINITION=0
TENCENT_VOD_IMAGE_SPRITE_DEFINITION=0
TENCENT_VOD_LICENSE_URL=

# ===== Database (PostgreSQL) =====
POSTGRES_USER=postgres
POSTGRES_PASSWORD=please_change_me
POSTGRES_DB=kline
DATABASE_URL=postgresql://postgres:please_change_me@postgres:5432/kline?schema=public

# ===== Redis =====
REDIS_URL=redis://redis:6379

# ===== Auth =====
JWT_SECRET=please_replace_with_strong_random_secret
JWT_REFRESH_SECRET=please_replace_with_strong_random_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
EMAIL_CODE_SECRET=53283a506692585df9de7ee3b5765bc348ea3c52fc7fc41b6ecc24f097d889e7
APP_URL=https://1mode.cn
AUTO_INVITE_SECRET=53283a506692585df9de7ee3b5765bc348ea3c52fc7fc41b6ecc24f097d889e7
AUTO_INVITE_PREFIX=INV

# ===== SMTP (Password Reset Email) =====
SMTP_HOST=smtp.exmail.qq.com
SMTP_PORT=465
SMTP_USER=zhizuoyizhongmoshi@1mode.cn
SMTP_PASS=4buDKESR8KiiuuBj
SMTP_FROM=zhizuoyizhongmoshi@1mode.cn

# ===== Optional Contact Display =====
NEXT_PUBLIC_CONTACT_WECHAT_ID=Return_Objects
NEXT_PUBLIC_CONTACT_WECHAT_QR=/images/wechat-qr.png
NEXT_PUBLIC_ADMIN_WECHAT_ID=Return_Objects
NEXT_PUBLIC_ADMIN_WECHAT_QR=/images/wechat-qr.png

# ===== Optional备案信息（登录页/官网底部） =====
NEXT_PUBLIC_SITE_NAME=只做一种模式
NEXT_PUBLIC_ICP_NO=京ICP备2026030936号
NEXT_PUBLIC_ICP_LINK=https://beian.miit.gov.cn/
NEXT_PUBLIC_PSB_NO=京ICP备2026030936号-1
NEXT_PUBLIC_PSB_LINK=http://www.beian.gov.cn/portal/registerSystemInfo
